<p id="notice"><%= notice %></p>

<p>
  <h1><%= @beer_club.name %>, <%= @beer_club.city %></h1>
</p>

<p>
  <i>Since <%= @beer_club.founded %></i>
</p>

<% if @beer_club.memberships.any? %>
  <p>
    <strong>Members</strong>
  </p>

    <ul>
      <% @beer_club.members.each do |member| %>
        <li>
        <%= link_to member.username, member %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>
      <strong>No members</strong>
    </p>
  <% end %>

<%= link_to 'Edit', edit_beer_club_path(@beer_club) if current_user%> <br>
<%= link_to 'Delete this club', @beer_club, method: :delete, data: { confirm: 'Are you sure?' } if current_user %>
