<h2><%= @user.username %>
  <% if @user.admin  %>
    <span class="label label-info label-sm">admin</span>
  <% end %>
  <% if @user.banned  %>
    <span class="label label-info label-sm">Account frozen</span>
  <% end %>
  <% if current_user and current_user.admin and @user.banned %>
    <%= link_to "Reactivate account", banned_user_path(@user.id), method: :post, class: "btn btn-warning" %>
  <% elsif current_user and current_user.admin %>
    <%= link_to "Freeze account", banned_user_path(@user.id), method: :post, class: "btn btn-warning" %>
  <% end %>
</h2>

<% if @confirmed_memberships.any? %>
  <h3>Member of Beer clubs</h3>
    <ul>
      <% @confirmed_memberships.each do |member| %>
        <li><%= link_to member.beer_club, member.beer_club %></li>
      <% end %>
    </ul>
<% end %>

<% if @pending_memberships.any? %>
  <h3>Pending membership applications</h3>
    <ul>
      <% @pending_memberships.each do |member| %>
        <li><%= link_to member.beer_club, member.beer_club %></li>
      <% end %>
    </ul>
<% end %>

<% if @user.ratings.any? %>
  <h3>Ratings</h3>
  <p>
    <% if @user.ratings.any? %>
      Has made <%= pluralize(@user.ratings.size, 'rating') %>, average score: <%= @user.average_rating.round(1) %>
    <% end %>
  </p>

  <ol>
    <% @user.ratings.each do |rating| %>
      <li>
        <%= rating %>
        <% if @user == current_user %>
          <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </li>
    <% end %>
  </ol>

  <h3>Favourites</h3>
  <p>
    Favourite style: <%= @user.favorite_style %>, brewery: <%= @user.favorite_brewery %>
  </p>

<% end %>


<% if @user == current_user %>
  <div class="btn btn-warning btn-sm">
    <%= link_to 'Edit', edit_user_path(@user) %>
  </div>
  <div class="btn btn-danger btn-sm">
    <%= link_to 'Delete this user', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>
