
<div class="row">
  <div class="col-md-9">
    <h1>
      Rating statistics
      <% if current_user %>
        <span class="btn btn-info btn-sm">
          <%= link_to 'New Rating', new_rating_path %>
        </span>
      <% end %>
    </h1>
    <p> Number of ratings: <%= @ratings.count %> </p>
  </div>
</div>

<div class="row">

  <div class="col-md-3">
    <h2>Best beers</h2>
    <%= render 'list', var: @top_beers %>
  </div>

  <div class="col-md-3">
    <h2>Best breweries</h2>
    <%= render 'list', var: @top_breweries %>
  </div>

  <div class="col-md-3">
    <h2>Best styles</h2>
    <%= render 'list', var: @top_styles %>
  </div>

</div>

<div class="row">

  <div class="col-md-9">
    <h2>Most active users</h2>
    <table class="table table-hover">
      <thead>
      <tr>
        <th></th>
        <th>favourite beer</th>
        <th>preferred style</th>
        <th>favourite brewery</th>
        <th>ratings</th>
      </tr>
      </thead>

      <tbody>
        <% @top_users.each do |user| %>
          <tr>
            <td><%= link_to user.username, user %></td>
            <td><%= user.favorite_beer.name %></td>
            <td><%= user.favorite_style %></td>
            <td><%= user.favorite_brewery %></td>
            <td><%= user.ratings.count %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

</div>

<div class="row">
  <div class="col-md-4">
    <h2>Recent ratings</h2>
      <% @recent_ratings.each do |rating| %>
        <li> <%= rating %> <%= link_to rating.user.username, rating.user  %> </li>
      <% end %>
  </div>
</div>
