<p id="notice"><%= notice %></p>

<h2><%= @style.name %></h2>

<p>
  <strong>Description:</strong> <br>
  <%= @style.description %>
</p>

<%= link_to 'Edit', edit_style_path(@style) %> |
<%= link_to 'Back', styles_path %>
