<h2><%= @style.name %></h2>

<p>
  <strong>Description:</strong> <br>
  <%= @style.description %>
</p>

<table>
  <thead>
    <tr>
      <th>Beer</th>
      <th>Brewery</th>
    </tr>
  </thead>

  <tbody>
    <% @style.beers.each do |beer| %>
      <tr>
        <td><%= link_to beer.name, beer %></td>
        <td><%= link_to beer.brewery.name, beer.brewery %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= edit_and_destroy_buttons(@style) %>
