<h2><%= @brewery.name %>
  <% if not @brewery.active  %>
    <span class="label label-info label-sm">retired</span>
  <% end %>
</h2>

<p>
  <i>Established in <%= @brewery.year %></i>
</p>

<p>
  <strong>Number of beers:</strong> <%= @brewery.beers.count %>
</p>

<p>
  <% @brewery.beers.each do |beer| %>
    <%= link_to beer.name, beer %><br>
  <% end %>
</p>

<p>
  <% if @brewery.ratings.any? %>
    Has <%= pluralize(@brewery.ratings.size, 'rating') %>, average <%= @brewery.average_rating.round(1) %>
  <% end %>
</p>

<p>
  <% if current_user and current_user.admin %>
    <%= link_to "Change activity", toggle_activity_brewery_path(@brewery.id), method: :post, class: "btn btn-primary" %>
  <% end %>
</p>

<p>
  <%= edit_and_destroy_buttons(@brewery) %>
</p>
