<% cache @beer do %>

  <h2> <%= @beer.name %> </h2>

  <p>
    <strong>Style:</strong>
    <%= @beer.style %>
  </p>

  <p>
    <strong>Brewery:</strong>
    <%= @beer.brewery.name %>
  </p>

  <p>
    <% if @beer.ratings.empty? %>
      Beer has not yet been rated!
    <% else %>
      Has <%= pluralize(@beer.ratings.size, 'rating') %>, average <span class="badge"><%= @beer.average_rating.round(1) %></span>
    <% end %>
  </p>

<% end %>


<% if current_user %>
  <strong>Rate this beer:</strong>
  <%= form_for(@rating) do |f| %>
    <%= f.hidden_field :beer_id %>
    score: <%= f.number_field :score %>
    <%= f.submit class:"btn btn-primary btn-sm"%>
  <% end %>
<% end %>

<br>
<%= edit_and_destroy_buttons(@beer) %>
